<h2>To-Do List</h2>

<form method="POST">
  {% csrf_token %}
  {{ form.title }}
  <button type="submit">Add Task</button>
</form>
{% if messages %}
  {% for message in messages %}
    <script>
        alert("{{ message }}");
    </script>
  {% endfor %}
{% endif %}
<ul>
  {% for task in tasks %}
    <li>
      {% if task.completed %}
        <s>{{ task.title }}</s>
      {% else %}
        {{ task.title }}
      {% endif %}

      <a href="{% url 'update' task.id %}">✅</a>
      <a href="{% url 'edit' task.id %}">✏️</a>
      <a href="{% url 'delete' task.id %}">🗑️</a>
    </li>
  {% endfor %}
</ul>




